{% extends "@EasyAdmin/layout.html.twig" %}
{# {% extends "@EasyAdmin/page/content.html.twig" %} #}

{% block content %}

	<div class="jumbotron">
		<h1 class"dispaly-4">Administration</h1>
		<p class="lead">Bienvenue dans l'interface d'administration de votre site</p>
	</div>
{% endblock %}
