<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
	<div class="container">
		<a class="navbar-brand" href="#">GestGame</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample03">
			<ul class="navbar-nav ml-auto">
				{% if app.user %}
					{% if (is_granted ('GAME_MANAGE'))%}
						<li class="nav-item ">
							<a class="nav-link" href="#}">Nouveau jeu</a>
						</li>

						<li class="nav-item ">
							<a class="nav-link" href="#}">Jeu via IGDB</a>
						</li>
					{% endif %}
					<li class="nav-item ">
						<a class="nav-link" href="#">Mes jeux</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="#">Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="#">Logout</a>
					</li>
				{% else %}

					<li class="nav-item">
						<a class="nav-link" href="#">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="#">Login</a>
					</li>
				{% endif %}
			</ul>

		</div>
	</div>
</nav>
