<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        {% endblock %}
    </head>
    <body>
    
		{{ include ('layout/partials/_nav.html.twig' )}}
		<main role="main" class="container"> {% block body %}{% endblock %}
			</main>
			{# {{ include ('layout/partials/_footer.html.twig' )}} #}
			{# <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script> #}
			
    </body>
</html>
